/* TeamStyle.css */

.team-page {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  padding: 50px 20px;
  margin: 0 auto;
  max-width: 1000px;
}

.header {
  text-align: center;
  margin-bottom: 40px;
}

.header h1 {
  color: #6f4f1e; /* Złoty kolor */
  font-size: 2.2rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.header p {
  font-size: 1rem;
  color: #c7c7c7;
  line-height: 1.6;
}

.list {
  margin-bottom: 40px;
}

.list h3 {
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
  color: #222;
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
}

ul li img {
  max-width: 40%;
  border-radius: 8px;
  margin-right: 20px;
}

ul li .info {
  flex-grow: 1;
}

ul li .info strong {
  font-size: 1.2rem;
  color: #6f4f1e; /* Złoty kolor */
  margin-bottom: 10px;
}

ul li .info p {
  font-size: 1rem;
  color: #333;
  line-height: 1.5;
}

.footer {
  text-align: center;
}

.footer h3 {
  font-size: 1.8rem;
  font-weight: bold;
  color: #6f4f1e; /* Złoty kolor */
  margin-bottom: 20px;
}

.footer p {
  font-size: 1rem;
  color: #333;
  line-height: 1.6;
  margin-bottom: 15px;
}

/* Styl dla odpowiedzi w mobile */
@media (max-width: 768px) {
  .team-page {
    padding: 40px 15px;
  }

  .header h1 {
    font-size: 1.8rem;
  }

  .list h3 {
    font-size: 1.4rem;
  }

  ul li {
    flex-direction: column;
    align-items: flex-start;
  }

  ul li img {
    width: 100%;
    margin-bottom: 20px;
  }

  ul li .info {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .header h1 {
    font-size: 1.6rem;
  }

  .footer h3 {
    font-size: 1.4rem;
  }

  .footer p {
    font-size: 0.9rem;
  }
}
